<div id="topbar">
    <!-- progress indicator -->
    <div class="progress-bar-wrap">
        <div class="progress-bar" id="indicator"></div>
    </div>

    <div class="topbar-main">

        <!-- home btn -->
        <a class="icon-home" href="/">
            <span class="fi fi-rr-home"><span>
        </a>

        <!-- <span class="material-symbols-outlined icon-home">
            <a href="/">home</a>
        </span> -->

        <div class="topbar-page-links">
            <!-- <a class="topbar-page-link" href="/category/recent_posts">Posts</a> -->
            <!-- <a class="topbar-page-link" href="/series">Series</a> -->
            <!-- <a class="topbar-page-link" href="/about">About</a> -->
            <!-- <a class="topbar-page-link" href="">Portfolio</a> -->
            <!-- <a class="topbar-page-link" href="/projects">Projects</a> -->
            <!-- <a class="topbar-page-link" href="/notice">Notice</a> -->
        </div>
        

        <!-- search btn -->
        <!-- <a class="icon-search" href="/search">
            <span class="fi fi-rr-search-heart"><span>
        </a> -->
        <!-- <span class="material-symbols-outlined icon-search">
            <a href="/search">search</a>
        </span>         -->
    </div>
    
    
</div>

